<%- include("../partials/admin/header")  %>

<div class="container mt-4">
    <form class="searchform mb-4" method="GET" action="/admin/customers">
        <div class="input-group">
            <input 
                type="text" 
                name="search" 
                class="form-control" 
                placeholder="Search customers" 
                value="<%= search %>">
            <button class="btn btn-light bg" type="submit">
                <i class="material-icons md-search"></i>
            </button>
        </div>
    </form>
    
    
    <div class="table-responsive">
        <table class="table table-bordered table-hover">
            <thead class="table-light">
                <tr>
                    <th>Name</th>
                    <th>Email</th>
                    <th>Phone No</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                <% for(let i = 0; i < data.length; i++) { %>
                <tr>
                    <td><%= data[i].username %></td>
                    <td><%= data[i].email %></td>
                    <td><%= data[i].phone %></td>
                    <td>
                        <% if(data[i].isBlocked === false) { %>
                            <a href="/admin/block-user?id=<%= data[i]._id %>" class="btn btn-danger btn-sm">Block</a>
                        <% } else { %>
                            <a href="/admin/unblock-user?id=<%= data[i]._id %>" class="btn btn-success btn-sm">Unblock</a>
                        <% } %>
                    </td>
                </tr>
                <% } %>
            </tbody>
        </table>
    </div>
    <nav aria-label="Page navigation">
        <ul class="pagination justify-content-center">
            <% if (hasPreviousPage) { %>
                <li class="page-item">
                    <a class="page-link" href="?search=<%= search %>&page=<%= previousPage %>&limit=10">Previous</a>
                </li>
            <% } %>
            <% for (let i = 1; i <= totalPages; i++) { %>
                <li class="page-item <%= i === currentPage ? 'active' : '' %>">
                    <a class="page-link" href="?search=<%= search %>&page=<%= i %>&limit=10"><%= i %></a>
                </li>
            <% } %>
            <% if (hasNextPage) { %>
                <li class="page-item">
                    <a class="page-link" href="?search=<%= search %>&page=<%= nextPage %>&limit=10">Next</a>
                </li>
            <% } %>
        </ul>
    </nav>    
</div>

<br>
<br>
<br>
<br>

<%- include("../partials/admin/footer")  %>
